Repository baobabsoluciones/cornflow, pull requests merged in 2022-03, with the labels that each got.

#236 Feature/documentation
  README.rst
  cornflow/static/v1.json
  docs/source/conf.py
  docs/source/guides/jsonschema.rst
  docs/source/guides/testing_app.rst
  docs/source/main/install.rst
  docs/source/main/introduction.rst
Labels: documentation, cornflow-server

#234 Xcom Custom Backend with GCS
  airflow_config/__init__.py
  airflow_config/plugins/XCom/README.rst
  airflow_config/plugins/XCom/__init__.py
  airflow_config/plugins/XCom/gce_xcom_backend.py
  airflow_config/plugins/__init__.py
  docker-compose-airflow-celery-separate.yml
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose-cornflow-separate.yml
  docker-compose.yml
Labels: enhancement, cornflow-server

#235 Modified license
  LICENSE
Labels: documentation, cornflow-server

#143 Quick start guide
  QUICK_START_GUIDE.RST
Labels: documentation

#245 Feature/o auth
  cornflow/app.py
  cornflow/config.py
  cornflow/endpoints/__init__.py
  cornflow/endpoints/execution.py
  cornflow/endpoints/login.py
  cornflow/endpoints/signup.py
  cornflow/models/permission.py
  cornflow/schemas/user.py
  cornflow/shared/authentication.py
  cornflow/shared/const.py
  cornflow/shared/exceptions.py
  cornflow/tests/custom_test_case.py
  init_cornflow_service.py
Labels: enhancement, cornflow-server
