Repository baobabsoluciones/cornflow, pull requests merged in 2023-10, with the labels that each got.

#471 Bump gevent version
  cornflow-server/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/requirements.txt
  cornflow-server/setup.py
Labels: urgent

#472 Bump version of cornflow-client
  cornflow-server/requirements.txt
  libs/client/changelog.rst
  libs/client/requirements-dev.txt
  libs/client/requirements.txt
  libs/client/setup.py
Labels: bug, client, urgent

#476 Modify python versions on github actions
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Labels: enhancement

#477 Dropped python 3.7 as compatibility of cornflow-client
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/test_cornflow_client.yml
  libs/client/setup.py
Labels: client

#478 Feature/airflow version
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/DAG/tsp/__init__.py
  cornflow-dags/DAG/tsp/schemas/config.json
  cornflow-dags/DAG/tsp/solvers/ACOpy.py
  cornflow-dags/DAG/tsp/solvers/__init__.py
  cornflow-dags/requirements-dev.txt
  cornflow-dags/requirements.txt
  cornflow-dags/tests/test_dags.py
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/requirements.txt
Labels: enhancement, major change, dependencies

#463 Feature/rostering opening hours
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/DAG/rostering/core/instance.py
  cornflow-dags/DAG/rostering/core/solution.py
  cornflow-dags/DAG/rostering/core/tools.py
  cornflow-dags/DAG/rostering/data/test_instance_1.json
  cornflow-dags/DAG/rostering/data/test_instance_2.json
  cornflow-dags/DAG/rostering/data/test_instance_3.json
  cornflow-dags/DAG/rostering/data/test_instance_4.json
  cornflow-dags/DAG/rostering/data/test_instance_5.json
  cornflow-dags/DAG/rostering/data/test_instance_6.json
  cornflow-dags/DAG/rostering/data/test_instance_7.json
  cornflow-dags/DAG/rostering/data/test_instance_8.json
  cornflow-dags/DAG/rostering/schemas/instance.json
  cornflow-dags/DAG/rostering/schemas/instance_checks.json
  cornflow-dags/DAG/rostering/solvers/mip_model.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/experiment.py
  cornflow-dags/requirements.txt
Labels: enhancement, dags, rostering

#479 Feature/sendgrid airflow
  cornflow-server/airflow_config/Dockerfile
Labels: server, dependencies

#470 Feature/email notification
  cornflow-dags/DAG/activate_dags.py
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/core/application.py
Labels: enhancement, client, dags

#485 Now responses go back in the intended order instead of in alphabetical order
  cornflow-server/cornflow/app.py
Labels: enhancement, server

#486 Airflow variables
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
Labels: server
