Repository baobabsoluciones/cornflow, pull requests merged in 2023-04, with the labels that each got.

#436 Bugfix/tables endpoint imports
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/tables.py
  cornflow-server/cornflow/shared/utils.py
  cornflow-server/cornflow/shared/utils_tables.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_tables.py
Labels: bug, server

#437 Feature/mapping solver parameters
  cornflow-dags/DAG/rostering/schemas/config.json
  cornflow-dags/DAG/rostering/solvers/mip_model.py
  cornflow-dags/tests/test_dags.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Labels: enhancement, client

#441 Feature/extra methods
  cornflow-server/cornflow/shared/query_tools.py
Labels: enhancement, server

#453 Release/v1.0.4
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/DAG/rostering/data/test_instance_6.json
  cornflow-dags/DAG/rostering/schemas/config.json
  cornflow-dags/DAG/rostering/solvers/mip_model.py
  cornflow-dags/tests/test_dags.py
  cornflow-server/changelog.rst
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/alarms.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/main_alarms.py
  cornflow-server/cornflow/endpoints/tables.py
  cornflow-server/cornflow/migrations/versions/ebdd955fcc5e_.py
  cornflow-server/cornflow/models/__init__.py
  cornflow-server/cornflow/models/alarms.py
  cornflow-server/cornflow/models/main_alarms.py
  cornflow-server/cornflow/schemas/alarms.py
  cornflow-server/cornflow/schemas/main_alarms.py
  cornflow-server/cornflow/shared/authentication.py
  cornflow-server/cornflow/shared/query_tools.py
  cornflow-server/cornflow/shared/utils.py
  cornflow-server/cornflow/shared/utils_tables.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_main_alarms.py
  cornflow-server/cornflow/tests/unit/test_tables.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose.yml
  libs/client/changelog.rst
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
  libs/client/setup.py
  libs/core/cornflow_core/exceptions/exceptions.py
  libs/core/requirements.txt
  libs/core/setup.py
Labels: bug, enhancement, server, client, dags, rostering

#454 Changes to workflow files as ubuntu 18 has been removed
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-core-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/notify_new_deployment.yml
Labels: bug

#455 Bump version
  cornflow-server/Dockerfile
Labels: bug
